html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: "Microsoft YaHei" Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
}

input::-webkit-input-placeholder{
    color: #999999;
    font-size: 14px;
    font-family: "Microsoft YaHei" Arial, "Helvetica Neue", Helvetica, sans-serif;
}
textarea::-webkit-input-placeholder{
    font-family: "Microsoft YaHei" Arial, "Helvetica Neue", Helvetica, sans-serif;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom */
a {
    color: #7e8c8d;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* 禁止页面选择、复制文字 */
/* body {

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */


/* 常用的公用样式 */
/* .clearfix:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
} */

.fl {
    float: left
}

.fr {
    float: right
}

/* flex css 样式 */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-one {
    flex: 1;
}

.flex-item {
    align-items: center;
}

.flex-content {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shirink {
    flex-shrink: 0;
}

.flex-warp {
    flex-wrap: wrap;
}


/* 文本对齐方式 */

.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

/* 边框阴影 */
.boxshadow {
    /* box-shadow: 0 1px 2px rgba(150, 150, 150, 0.3); */
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
}


/* 超出显示省略号 */
.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 超出两行显示省略号 */
.ellipse2 {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
