name: Send Wechat Bot Message

on:
  schedule:
    - cron: "30 1 * * 1-5" # 每周一到周五 09:30（北京时间）
  workflow_dispatch:

jobs:
  send:
    runs-on: ubuntu-latest
    steps:
      - name: Send Message
        run: |
          curl -X POST \
            -H "Content-Type: application/json" \
            -d '{"msgtype":"text","text":{"content":"订餐吗\n https://doc.weixin.qq.com/smartsheet/form/1_wp1CTQEAAAeQ_fBWckoFSHUPCxz8-rBg_7b4e27?journal_source=chat&version=5.0.2.6011&platform=win \n","mentioned_list":["@all"]}}' \
            "https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=7e6a3ab3-f899-40fe-8357-f2a73e401b8c"
