name: Send Wechat Bot Message Every 2 Minutes

on:
  schedule:
    - cron: "*/2 * * * *"   # 每5分钟执行，注意是 UTC 时间
  workflow_dispatch:         # 手动触发也可以

jobs:
  send:
    runs-on: ubuntu-latest
    steps:
      - name: Send Message to Wechat Bot
        run: |
          curl -v -X POST \
            -H "Content-Type: application/json" \
            -d '{"msgtype":"text","text":{"content":"订餐吗","mentioned_list":["@all"]}}' \
            "https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=7e6a3ab3-f899-40fe-8357-f2a73e401b8c"
